{% extends 'base.html' %}
{% block title %} {{ request.session.active_side_pane | capfirst }}{% endblock %}

{% block content %}

    <div class="wrapper">
    {% include "side-bar.html" %}
    {% include "top-nav-bar.html" %}

        <div class="main-panel">

            <div class="content">
                <div class="container-fluid">
                    <div class="row">                
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title" id="pocket-balance">Option 1 | Instant EFT & Bank Card</h4>
                                    <p class="category">Top up your pocket using PayFast</p>
                                </div>
                                <div class="card-content">
                                    <div class="panel-body">
                                       <form method="post" action="/pay/redirect">
                                           {% csrf_token %}
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label text-left">Amount</label>
                                                    <input type="number" step="0.1" min="1" required="required" class="form-control" name="amount">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <button type="submit" class="btn btn-block" data-background-color= "orange"><i class="material-icons">send</i> Pay now</button>
                                                <div class="clearfix"></div>
                                            </div>
                                           <input type="hidden" name="product" value="Crowdcoin Pocket Top-up"/>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="small">Please allow up to 48 working hours for your transaction to reflect.</p>
                                </div>
                            </div>
                        </div>                 
<!--                         <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header" data-background-color="red">
                                    <h4 class="title" id="pocket-balance">Option 2 | Bank Deposit</h4>
                                    <p class="category">Deposit money into Crowdcoin's bank account</p>
                                </div>
                                <div class="card-content">
                                    <div class="panel-body">
                                       <strong>Banking Details</strong>
                                       <ul>
                                           <li><strong>Bank:</strong> First National Bank</li>
                                           <li><strong>Account No.:</strong> 62634840319</li>
                                           <li><strong>Branch Code:</strong> 250655</li>
                                           <li><strong>Reference:</strong> <strong class="text-danger"> {{ profile.default_pocket.tag }}</strong></li>
                                       </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="small">Please allow up to 48 working hours for your transaction to reflect.</p>
                                </div>
                            </div>
                        </div> -->                        
                    </div>

                </div>
            </div>

            {% include 'footer.html' %}
        </div>

    </div>
    {% include 'modals/view_pocket_history.html' %}
    {% include 'modals/view_pocket_information.html' %}
    {% include 'modals/add_pocket_funds.html' %}
    {% include 'modals/create_crowdcoin_payment_lead.html' %}    
{% endblock %}