{% extends 'base.html' %}

{% block title %} {{ request.session.active_side_pane | capfirst }}{% endblock %}

{% block content %}

    <div class="wrapper">
    {% include "side-bar.html" %}
    {% include "top-nav-bar.html" %}

        <div class="main-panel">

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                    	<div class="col-md-8 col-md-offset-2">
                            <div class="card">
                                <div class="card-header text-center" data-background-color="orange">
                                    <h4 class="title">Merchant Subscription</h3>
                                    <p class="category">Are you looking for more control? Please check our Premium Version of Crowdcoin Merchant.</p>
                                </div>
                                <div class="card-content">
                                    <div class="table-responsive table-upgrade">
                                        <table class="table">
                                            <thead>
                                                <th></th>
                                            	<th class="text-center">Community</th>
                                            	<th class="text-center">Enterprise</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                	<td>Cash Payout Limit</td>
                                                    <td class="text-center">R {{ profile.default_pocket.payout_monthly_limit }}<br/><small>Per Month</small></td>
                                                	<td class="text-center">Structured</td>
                                                </tr>
                                                <tr>
                                                    <td>Cash Payout Hold</td>
                                                    <td class="text-center">{{ profile.default_pocket.payout_hold_days }}<br/><small>Business Days</small></td>
                                                    <td class="text-center">48 Hours</td>
                                                </tr>                                                
                                                <tr>
                                                    <td>Voucher Redeem Commission </td>
                                                    <td class="text-center">{{ profile.default_pocket.voucher_receiving_fee }}</td>
                                                    <td class="text-center">Tailored</td>
                                                </tr>                                                
                                                <tr>
                                                    <td>Voucher Sale Fee </td>
                                                    <td class="text-center">{{ profile.default_pocket.voucher_sending_fee }}</td>
                                                    <td class="text-center">Tailored</td>
                                                </tr>
												<tr>
                                                	<td>Custom Integration</td>
        											<td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                                	<td class="text-center"><i class="fa fa-check text-success"></td>
                                                </tr>
        										<tr>
                                                	<td>Premium Support</td>
        											<td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                                	<td class="text-center"><i class="fa fa-check text-success"></td>
                                                </tr>
        										<tr>
                                                	<td></td>
        											<td class="text-center">Free</td>
                                                	<td class="text-center">Get in touch</td>
                                                </tr>
        										<tr>
        											<td class="text-center"></td>
        											<td class="text-center">
        												<a href="#" class="btn btn-round btn-fill btn-warning disabled">Current Version</a>
        											</td>
        											<td class="text-center">
                                                    <form method="post" action="/pay/redirect">
                                                    <input type="hidden" name="product" value="Crowdcoin Premium Subscription - {{merchant.trading_name }}"/>
                                                    <input type="hidden" name="amount" value="850"/>
                                                    {% csrf_token %}
        												<!-- <input type="submit" class="btn btn-round btn-fill btn-success" value="Upgrade to PRO"/> -->
                                                        <a href="http://help.crowdcoin.co.za/contact" class="btn btn-round btn-fill btn-success" value="Upgrade to Enterprise">Upgrade to Enterprise</a>
                                                    </form>
        											</td>
        										</tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}
        </div>

    </div>
{% endblock %}