
{% extends 'base.html' %}

{% block title %} Login{% endblock %}
{% block content %}

    <div class="wrapper">
    {% include "side-bar.html" %}

	    <div class="main-panel">
			{% include "top-nav-bar.html" %}

			<div class="content">
				<div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
							<div class="card">
	                            <div class="card-header" data-background-color="orange">
	                                <h4 class="title">Password reset</h4>
									<p class="category">Recover lost or forgotten password.</p>
	                            </div>
								<div class="card-content">
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if form %}
                                    <p>We can help you reset your password and security info. First, enter the email linked to your Crowdcoin Partner Account.</p>
                                    <form method="post" >
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                        <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                        <p class="help-text">{{ field.help_text }} </p>

                                        </div>
                                    </div>
                                    {% endfor %}
                                    <input type="submit" value="Email password reset link" class="btn btn-warning pull-right" />
                                    <input type="hidden" name="next" value="/" />
                                    {% endif %}
                                    </form>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>

			{% include 'footer.html' %}
		</div>

    </div>
{% endblock %}
