{% extends 'base.html' %}


{% block title %} Account{% endblock %}

{% block content %}

    <div class="wrapper">
    {% include "side-bar.html" %}

	    <div class="main-panel">
			{% include "top-nav-bar.html" %}

			<div class="content">
				<div class="container-fluid">
	                <div class="row">
						<div class="col-md-4 pull-right">
						    <div class="card card-profile">
								<div class="card-avatar">
									<a href="/">
										<img class="img" src="/static/img/logo.png" width="250">
									</a>
								</div>

								<div class="content">
									<h6 class="category text-gray">Assistance</h6>
									<h4 class="card-title">Dashboard</h4>
									<p class="card-content">
										Provides you with a quick overview of your balances, subscriptions and alerts.
						                Toggle the navigation icon to reveal links to individual pages.
									</p>
									<a href="http://help.crowdcoin.co.za" target="_blank" class="btn btn-warning btn-round">Open support portal</a>
								</div>
							</div>
						</div>	                
	                    <div class="col-md-8">
						    <div class="card">
	                            <div class="card-header" data-background-color="red">
	                                <h4 class="title">Public Account</h4>
	                                <p class="category">Pay a registered 3rd party account.</p>
	                            </div>
	                            <div class="card-content">
	                                <form>
	                                    <div class="row">
	                                		<div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Pocket to Debit</label>
											        <select id="identity_country" name="identity_country" class="form-control form-rose">
											            <option selected="selected" data-countryCode="ZA" value="27">South Africa</option>
											        </select>
											    </div>
											</div>											
											<div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Recipient Insitution</label>
	                                                <!-- country codes (ISO 3166) and Dial codes. -->
	                                                <select id="identity_country" name="identity_country" class="form-control form-rose">
	                                                    <option selected="selected" data-countryCode="ZA" value="27">Absa Bank</option>
	                                                </select>
	                                            </div>
	                                        </div>	
	                                        <div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Amount</label>
													<input type="Number" class="form-control">
												</div>
	                                        </div>
	                                        <div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Cell No</label>
													<input type="tel" class="form-control" >
												</div>
	                                        </div>
	                                        <div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Account Number</label>
													<input type="text" class="form-control" name='identity_no'>
												</div>
	                                        </div>                                        
	                                    </div>


	                                    <button type="submit" class="btn btn-danger">Pay Account</button>
	                                    <div class="clearfix"></div>
	                                </form>
	                            </div>
	                        </div>
						</div>	 
	                </div>
	            </div>
			</div>

			{% include 'footer.html' %}
		</div>

    </div>
{% endblock %}