<!-- Modal -->
<div class="modal fade" id="Add-Pocket-Modal" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a new Pocket</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title" id="pocket-balance">Option 1 | Premium SMS</h4>
                        <p class="category">Buy a new pocket using airtime. Works with all major S.A networks.</p>
                    </div>
                    <div class="card-content">
                        <div class="panel-body">
                            <ul>
                                <li>SMS <strong class="text-rose">CROWDCOIN #LINK @{{ profile.user.pk }}</strong> <strong id="add-funds-pocket-tag" class="text-rose">POCKET_TAG</strong> to <strong>38021</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="small">* Each premium sms costs R 10. Your account will be credited with 50% of the sms value. Please allow up to 48 working hours for your transaction to reflect.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>