<!-- Modal -->
<div class="modal fade" id="View-Pocket-Information-Modal" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pocket Information</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title" id="pocket-balance">Pocket Handle</h4>
                        <p class="category">This is your account's unique identifier. It works like traditional account numbers.</p>
                    </div>
                    <div class="card-content">
                        <div class="panel-body">
                                <h2 id="pocket-information-pocket-tag" class="text-center text-capitalize title text-rose">POCKET_TAG</h2>
                                <p class="text-center text-capitalize text-info">Created: <i id="pocket-information-pocket-created"></i> </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="small">* Each premium sms costs R 10. Your account will be credited with 50% of the sms value. Please allow up to 48 working hours for your transaction to reflect.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>