<!-- Modal -->
<div class="modal fade" id="View-Pocket-History-Modal" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">History</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
							<div class="card card-plain">
	                            <div class="card-header" data-background-color="orange">
	                                <h4 class="title" id="pocket-balance"> Payments History</h4>
	                                <p class="category" id="pocket-name">Recent payments made into and out of your account</p>
	                            </div>

	                            <div class="card-content table-responsive">
	                                <table class="table table-hover">
	                                    <thead class="text-warning">
	                                    	<th>AMOUNT</th>
                                            <th>DESCRIPTION</th>
                                            <th>DATE</th>
	                                    </thead>
	                                    <tbody id="transactions-table" class="small">

	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
						</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>