                            <a href="{% url 'money-transfer' %}">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="orange">
                                        <i class="glyphicon glyphicon-transfer""></i>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="title">Vouchers</h3>
                                        <p class="category"><small>Send and redeem CrowdCoins</small></p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">                                            
                                            <a href="{% url 'money-transfer-buy-voucher' %}" class="menu-card-link"><p class="material-icons ">add_box</p> Send Voucher</a>
                                        </div>
                                        <br/>
                                        <div class="stats">
                                            <a href="{% url 'money-transfer-redeem-voucher' %}" class="menu-card-link"><p class="material-icons ">add_box</p> Redeem Voucher</a>
                                        </div>
                                        <br/>
                                        <div class="stats">
                                            <a href="{% url 'money-transfer-voucher-history' %}" class="menu-card-link"><p class="material-icons ">add_box</p> History</a>
                                        </div>
                                    </div>
                                </div>
                            </a>